body {
    margin: 0;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    color: white;
}

.cinema {
    background-color: #0a0a0a;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    border: 2px solid red;
    box-shadow: 0 0 40px red;
    width: 590px;
}

h1 {
    text-shadow: 0 0 10px red;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 20px;
}

video {
    width: 260px;
    border-radius: 15px;
    border: 2px solid white;
    box-shadow: 0 0 20px white;
}

.description {
    font-size: 13px;
    color: #ddd;
    margin-top: 20px;
    line-height: 1.6;
}
